* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
    
}
body {
    background-color: #18191b
}

header {
    background-color: #18191b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}

#logoImage {
    width: 60px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navMenu li {
    margin: 0 15px;
    list-style-type: none;
    font-weight: 100;
}

#navMenu li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 100;
}

#heroSection {
    background-color: #18191b;
    padding: 50px;
    display: flex;
    justify-content: space-between;

}

#introText {
    color: white;
    font-weight: 300;
    font-size: 30px;
}

#nameHighlight {
    font-size: 20px;
    font-weight: 100;
}

#profession {
    color: #ffffff;
    font-weight: 500;
    font-size: 50px;
    background: linear-gradient(90deg, #00ff00, #00b894); /* Define your gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.clientsProjects {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.clients h3, .projects h3 {
font-size: 20px;
color: white;
font-weight: 500;

}
.clients h4 , .projects h4 {
    font-size: 17px;
color: white;
font-weight: 300;
}

.projects {
    margin: 0 40px;
  
}

#collaborateButton {
    background: linear-gradient(90deg, #00ff00, #00b894); /* Define your gradient colors */
    color: black; /* Text color */
    border: none; /* Remove border if not needed */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#collaborateButton:hover {
    background: linear-gradient(90deg, #00b894, #00ff00); /* Reverse gradient on hover for effect */
}

.tiltedTextContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black; 
    padding: 20px 0;
    transform: rotate(-3deg); 
}

.tiltedText {
    color: white; 
    font-size: 18px; 
    transform: rotate(3deg); 
}

.about {
    margin-top: 80px;
    padding: 0 50px;
}

.about h3 {
    font-size: 16px;
    color: white;
    font-weight: 200;

}
.about h4 {
font-size: 22px;
padding-top: 10px;
font-weight: 400;
color: white;
}

.about button {
    margin-top: 20px;
}

.whatIDo {
    margin-top: 80px;
    padding: 0 50px;
    margin-bottom: 70px ;
}
.whatIDo h3 {
    font-size: 16px;
    color: white;
    font-weight: 200;
}

.whatIDo h4 {
    padding-top: 10px;
    font-size: 30px;
    color: white;
    font-weight: 400;
}

.tiltedWork , .tiltedConnect {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black; 
    padding: 20px 0;
}

.tiltedTextWork , .tiltedConnnectText{
    color: white; 
    font-size: 18px; 
}

.reviews {
    margin-top: 80px;
    padding: 0 50px;
    margin-bottom: 70px ;
    text-align: center;
}

.reviews h3, h2 {
    font-size: 16px;
    color: white;
    font-weight: 200;
}

.reviews h4 {
    font-size: 22px;
    padding-top: 10px;
    font-weight: 400;
    color: white;
    }

.reviews #reviewcontent{
     display: flex;
     justify-content: center;
     padding-top: 10px;
     align-items: center;
        
    }

.reviews #reviewcontent img {
  width: 5%;
  border-radius: 50px;
  margin-right: 10px;
    }

 .reviews h2 {
 font-size: 16px;
 color: white;
font-weight: 400;
}

.accordion {
    margin-top: 80px;
    padding: 0 50px;
    margin-bottom: 70px ;
}

.accordion-item {
    border-bottom: 1px solid #333;
}

.accordion-button {
    background: none;
    border: none;
    color: white;
    text-align: left;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.accordion-button:hover {
    background-color: #333;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 15px;
    color: white;
}

.accordion-content p {
    margin: 10px 0;
}
    
.accordion h3{
    font-size: 16px;
    color: white;
    font-weight: 200;
    margin-bottom: 10px;
}

.bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.copyright h2 {
    color: white;
    font-size: 17px;
    text-align: center;
    font-weight: 300;
    padding-bottom: 10px;

}

.partner {
    background-color: #333;
    padding: 30px 50px;
    border-radius: 10px;
    border: white solid 1px;
}

.partner h2{
    font-size: 30px;
    font-weight: 500;
}

.partner h3{
    font-size: 17px;
    font-weight: 300;
    color: white;
    margin-top: 10px;
}

.partner h4{
    margin-top: 50px;
    font-size: 17px;
    font-weight: 300;
    color: white;
}

.social-links {
    font-family: 'Poppins', 'sans-serif';
    background-color: #18191b;
    color: white;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.social-links ul {
    list-style: none;
    padding: 0;
}

.social-links li {
    margin: 15px 0;
}

.social-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.social-links a i {
    margin-right: 10px;
    font-size: 24px;
}